<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'news/user_head.html' %}
    <script type="text/javascript" src="/static/news/js/user_pic_info.js"></script>
</head>
<body class="inframe_body">
    <form class="pic_info">
        <h3>头像设置</h3>
        <div class="form-group">
            <label class="label01">当前图像：</label>
            <img src="{{ user.avatar_url }}" alt="用户图片" class="now_user_pic">
        </div>
        <div class="form-group">
            <label>上传图像：</label>
            <input type="file" name="avatar" class="input_file">
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="form-group">
            <input type="submit" value="保 存" class="input_sub">
        </div>
    </form>
</body>
</html>